@{
    ViewData["Title"] = "Job - History";
}

<div id="top">

    <div class="page-content">
        <div class="container">
            <div class="cover shadow-lg bg-white">
                <div class="cover-bg p-3 p-lg-4 text-white">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 text-center text-md-start">
                            <h2 class="h1 mt-2 text-center" data-aos="fade-left" data-aos-delay="0">Job History</h2>
                        </div>

                    </div>
                </div>

                <hr class="d-print-none" />
                <div class="work-experience-section px-3 px-lg-4">

                    <div class="timeline">

                        <div class="timeline-card timeline-card-primary card shadow-sm">
                            <div class="card-body">
                                <div class="h5 mb-1">Full Stack PHP/Laravel Web Developer <span class="text-muted h6">at Bankable Wisdom Solutions</span></div>
                                <div class="text-muted text-small mb-2">05/2022 – 12/2022</div>
                                <div>
                                    <h6>Duties</h6>
                                </div>
                                <div>
                                    <ol>
                                        <li>
                                            Developed additional user and admin pages for bankablewisdom.com
                                        </li>
                                        <li>
                                            Developed additional tables for MySQL database
                                        </li>
                                        <li>
                                            Integrated Paystack payment gateway on bankablewisdom.com
                                        </li>
                                        <li>
                                            Developed Bankablewisdom.com API
                                        </li>
                                        <li>
                                            Consumed developed API on bankablewisdom.com.ng
                                        </li>
                                        <li>
                                            Developed and hosted bankablewisdom.com.ng
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="timeline-card timeline-card-primary card shadow-sm">
                            <div class="card-body">
                                <div class="h5 mb-1">Full Stack PHP/Laravel Web Developer <span class="text-muted h6">at Soccer Hunters</span></div>
                                <div class="text-muted text-small mb-2">03/2022</div>
                                <div>
                                    <h6>Duties</h6>
                                </div>
                                <div>

                                    <ol>
                                        <li>
                                            Developed user and admin pages for soccer-hunters.com
                                        </li>
                                        <li>
                                            Developed MySQL database
                                        </li>
                                        <li>
                                            Integrated Paystack payment gateway on soccer-hunters.com
                                        </li>
                                        <li>
                                            Developed API
                                        </li>
                                        <li>
                                            Hosted soccer-hunters.com using Namecheap hosting
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="timeline-card timeline-card-primary card shadow-sm">
                            <div class="card-body">
                                <div class="h5 mb-1">Full Stack PHP/Laravel Web Development Trainee <span class="text-muted h6">at WhiteHat Academy</span></div>
                                <div class="text-muted text-small mb-2">06/2021 – 12/2021</div>
                                <div>
                                    <h6>Duties</h6>
                                </div>
                                <div>
                                    <ol>
                                        <li>
                                            Developed diverse user interfaces for websites using HTML, CSS, JavaScript, jQuery, and Vue.js.
                                        </li>
                                        <li>
                                            Collaborated with the team to design visually appealing front-end solutions.
                                        </li>
                                        <li>
                                            Ensured a seamless and engaging user experience through effective UI/UX practices.
                                        </li>
                                        <li>
                                            Created and optimized databases using SQL, MySQL, PHP, and Laravel.
                                        </li>
                                        <li>
                                            Implemented back-end functionalities to enhance overall website performance and functionality.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="d-print-none" />
                <div class="contant-section px-3 px-lg-4 pb-4" id="contact">
                    <h2 class="h3 text mb-3">Contact</h2>
                    <div class="row">
                        <div class="col col-md-4 mx-auto text-center">
                            <div class="mt-2">
                                <h3 class="h6">Phone</h3>
                                <div class="pb-2 text-secondary">+2348102567789</div>
                            </div>
                        </div>
                        <div class="col col-md-4 mx-auto text-center">
                            <div class="mt-2">
                                <h3 class="h6">Email</h3>
                                <div class="pb-2 text-secondary">omoyibo.victory@gmail.com</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
